<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>name</key>
		<string>Beckham</string>
		<key>date</key>
		<string>10 april 2020</string>
		<key>imageName</key>
		<string>beckham</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>name</key>
		<string>Cantona</string>
		<key>date</key>
		<string>11 april 2020</string>
		<key>imageName</key>
		<string>cantona</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>name</key>
		<string>Ronaldo</string>
		<key>date</key>
		<string>15 april 2020</string>
		<key>imageName</key>
		<string>ronaldo</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>name</key>
		<string>Sir Alex Ferguson</string>
		<key>date</key>
		<string>20 april 2020</string>
		<key>imageName</key>
		<string>sir alex</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>name</key>
		<string>Raissa</string>
		<key>date</key>
		<string>26 april 2020</string>
		<key>imageName</key>
		<string>raissa</string>
	</dict>
</array>
</plist>
